.movie-detail {
    width: 100%;
    position: relative;
    background-size: cover;
    min-height: 800px;
    background: no-repeat center top;
}


.movie-detail-info {
    position: relative;
    width: 500px;
    left: 10vw;
    top: 20vw;
}

.movie-detail-info p {
    width: 100%;
}

